/* Arrière-plan de la modale */
.overlay {
  position: fixed;
  inset: 0; 
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100; 
}

.content {
  position: fixed;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 3rem; 
  border-radius: 10px;
  max-width: 600px;
  width: 90%;
  z-index: 101;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  max-height: calc(100vh - 4rem);
}

.closeButton{
	font-size: 25px;
	color: var(--textGrey);
	display: flex;
	justify-content: flex-end;
	align-items: start;
	cursor: pointer;
}
.title{
	margin-bottom: 2rem;
}
.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.field label {
  margin-bottom: 0.5rem;

}
.field input, .field textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  /* color: var(--textGrey); */
  border: 1px solid var(--tagGrey);
  border-radius: 4px;
}
.fieldBtn {
  display: flex;
  flex-direction: column; 
  gap: 8px; 
}
.fieldBtn label{
  margin-bottom: 0.5rem;
}
.btnGroup {
  display: flex; 
  gap: 1rem; 
  flex-wrap: wrap; 
}
.btnStatus {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
} 
.active {
  transform: scale(1.10);
  outline: 2px solid #000;
  padding: 3px 0;
  border-radius: 50px;
}

/* MODAL IA */
/* ******** */
.responseIA{
	margin-bottom: 1rem;
}
.titleIA{
	margin-bottom: 10rem;
}
.chat{
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 50px;
	width: 100%;
	height: 3rem;
	background-color: var(--background);
	gap: 10px;
	margin-top: 3rem;
	
}

.chat textarea{
	background-color: var(--background);
	width: 80%;
	color: black;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.taskIA{
	border: 1px solid var(--tagGrey);
	padding: 2rem;
	border-radius: 10px;
	margin-bottom: 1rem;

}
.taskIA h5{
	margin-bottom: 0.5rem;

}
.taskIA a{
	cursor: pointer;
}
.taskIA p, .taskIA a{
	margin-bottom: 0.5rem;
	color: var(--textGrey);
	font-size: 12px;
}

.taskIA a:last-child{
	border-left: 1px solid var(--textGrey);
	margin-left: 1rem;
	padding-left: 1rem;
}
.link{
	margin-top: 1.5rem;

}
.btnTaskIA{
	margin-top: 2rem;
	margin-bottom: 10rem;
}

/* MODIFICATION D UN TACHE IA*/
/* ************************* */

.modifyTaskIA{
	display: flex;
	justify-content: space-between;
	align-items: start;
	flex-direction: column;
}
.modifyTaskIA textarea{
	width: 100%;
	margin: 1rem 0;
	height: 100px;
}

.modifyTitleTaskIA{
	font-size: 22px;
	font-weight: 700;
}