/* -------------------------------------------------
   Variables globales pour couleurs et styles
------------------------------------------------- */
:root {
  --background: #f9fafb;
  --primary: #B24C0B;
  --secondary: #ffe8d9;
  --third: #ffffff;
  
  --tagGreen: #f1fff7;
  --tagRed: #ffe0e0;
  --tagYellow: #fff0d7;
  --tagBlue: #e0ecff;
  --tagOrange: #ffe8d9;       
  --tagGrey: #e5e7eb;

  --textGreen: #1C8249;
  --textRed: #CB1010;
  --textYellow: #996200;
  --textBlue: #095EE7;
  --textOrange: #B24C0B;
  --textGrey: #606771;

  --btnBackground: #1f1f1f;
  --btnFocus: #0f0f0f;
}

/* -------------------------------------------------
   Réinitialisation globale
------------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-inter), sans-serif; /* Tout texte utilise Inter par défaut */
}

html, body {
  max-width: 100vw;
}

body {
  background: var(--background);
}

/* -------------------------------------------------
   Structure de page
------------------------------------------------- */
header, footer {
  max-width: 100vw;
  background-color: var(--third);
}

main {
  margin: 0 7rem;
}

.background_login {
  justify-content: flex-end;
}

/* tablette */
@media (max-width: 1024px) {
  main {
    margin: 0 3rem;
  }
}

/* mobile */
@media (max-width: 768px) {
  main {
    margin: 0 1rem;
  }
}

/* petit mobile (350px) */
@media (max-width: 400px) {
  main {
    margin: 0 0.5rem;
  }
}
/* -------------------------------------------------
   Liens
------------------------------------------------- */
a {
  color: inherit;
  text-decoration: none;
}

/* -------------------------------------------------
   Typographie
------------------------------------------------- */
@layer base {
  /* Titres h1-h5 en Manrope */
  h1, h2, h3, h4, h5 {
    font-family: var(--font-manrope), sans-serif;
    margin-bottom: 1rem; /* espace sous les titres */
  }

  /* Paragraphes en Inter */
  p {
    font-family: var(--font-inter), sans-serif;
    line-height: 1.6; /* lisibilité */
    margin-bottom: 1rem;
    font-size: 14px;
  }

  /* Tailles des titres */
  /* h1 { font-size: 40px; } */
  /* h2 { font-size: 32px; } */
  /* h3 { font-size: 28px; } */
  h1 { font-size: 24px; }
  h2 { font-size: 18px; }

}