.containerProfile{
	margin: 3rem 0;
	padding: 2.5rem 3.68rem;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: start;
	flex-direction: column;
	border-radius: 10px;
	border: 1px solid var(--tagGrey);
}

.containerProfile p{
	color: var(--textGrey);
	margin-bottom: 2rem;
}
.containerProfile form{
	width: 100%;
}
.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.field label {
  margin-bottom: 0.5rem;

}
.field input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  color: var(--textGrey);
  border: 1px solid var(--tagGrey);
  border-radius: 4px;
}